* {
    box-sizing: border-box;
}

body,
select,
input[type="button"],
input[type="reset"] {
    font-family: $fuente;
}

body {
    background-image: linear-gradient(to right, $primary_color, $secondary_color);
    font-size: 18px;
    margin: 20px;
}

.admin-body {
    background-image: linear-gradient(to right, gray, gray) !important;
}

.logo-img {
    $valor: 50px;
    margin: {
        right: auto;
        left: auto;
        top: $valor;
        bottom: $valor;
    }
    display: block;
    border-radius: 10px;
    border: solid black;
}

.main-div {
    margin: {
        right: auto;
        left: auto;
        bottom: 50px;
    }
    display: table;
    width: 70%;
    height: 1em;
    border: dotted black;
    border-radius: 5px;
    padding: 20px;
    background-color: $white;
}

.main-div h3 {
    text-align: center;
}


/* responsive-form */

input[type="text"],
input[type="password"],
select {
    font-size: 18px;
    width: 100%;
    padding: 12px;
    border: 2px solid gainsboro;
    border-radius: 4px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.d-block {
    display: block;
}

input[type="button"],
input[type="reset"] {
    font-size: 18px;
    color: $white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: {
        left: 10px;
        top: 15px;
    }
    font-weight: bold;
    background-color: black;
    &:hover {
        opacity: 0.8;
    }
}

.button {
    float: none !important;
    margin-bottom: 20px;
}

.center {
    margin: {
        right: auto !important;
        left: auto !important;
    }
}

table {
    @extend .center;
    width: 100%;
    border-radius: 5px;
    margin: {
        top: 15px;
        bottom: 40px;
    }
    font-size: 22px;
    table-layout: fixed;
}

th,
td {
    word-wrap: break-word;
}

.purple {
    background-color: $secondary_color;
    font-weight: bold;
    color: $white;
}

.green {
    background-color: $primary_color;
    font-weight: bold;
    color: $white;
}

table,
th,
td {
    border: solid gainsboro;
}

th,
td {
    text-align: center;
    padding: 10px;
}

.imagen-carta {
    width: 300px;
    margin: 20px;
    margin-bottom: 60px;
}

.bc-gray {
    background-color: gray !important;
}

.avatar-img {
    $valor: 125px;
    width: $valor;
    height: $valor;
    margin: {
        top: 10px;
        bottom: 5px;
    }
}

.contenedor-div {
    display: flex;
    div {
        flex: 1;
        position: relative;
    }
}

.avatar-div {
    border: solid black;
    text-align: center;
}

.myavatar-div {
    border: solid darkgray;
}

.myavatar-div img {
    $valor: 0px;
    margin: {
        top: $valor;
        bottom: $valor;
    }
    position: absolute;
    $porcentaje: 50%;
    top: $porcentaje;
    left: $porcentaje;
    transform: translate(-$porcentaje, -$porcentaje);
}

.bcw-cg {
    background-color: $white !important;
    color: gray !important;
}

.bcw-cb {
    background-color: $white !important;
    color: black !important;
}

.private-nav {
    height: 2.7em;
}

.private-main {
    border-radius: 5px;
    padding: 20px;
    background-color: $white;
    text-align: center;
}

.underline {
    text-decoration: underline;
    margin-bottom: 45px;
}

.mtopzero {
    margin-top: 0 !important;
}

fieldset {
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    legend {
        text-align: left;
        font-weight: bold;
    }
    img {
        width: 200px;
        border-radius: 5px;
    }
    p {
        $valor: 10px;
        margin: {
            top: $valor;
            bottom: $valor;
        }
    }
    .usuario-nick {
        font: {
            size: 28px;
            weight: bold;
        }
        text-decoration: underline;
    }
}

.bi-saldo {
    background-image: url(../../images/fondosaldo.png);
    background-size: 100% 100%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    background: $primary_color;
    border-radius: 10px;
    outline: none;
}

.btn-fs {
    float: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.b-ingresarsaldo {
    @extend .btn-fs;
    &:disabled {
        background-color: gray;
    }
}

.bc-red {
    background-color: red !important;
}

.bc-purple {
    background-color: $secondary_color !important;
}

.bc-green {
    background-color: $primary_color !important;
}

.bi-eliminar {
    background-image: url(../../images/fondoeliminar.png);
    background-size: 100% 100%;
}

.botones {
    display: block;
    color: $white;
    background-image: linear-gradient(to bottom, $primary_color, $secondary_color);
    box-shadow: 2px 5px 5px $white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover {
        box-shadow: 2px 5px 5px $secondary_color;
    }
    i {
        font-size: 50px;
        text-align: center;
        vertical-align: middle;
    }
}

.subcontenedor-div {
    margin-bottom: 10px;
    img {
        display: block;
        $valor: 250px;
        width: $valor;
        height: $valor;
        margin: {
            top: 10px;
            bottom: 5px;
            right: auto;
            left: auto;
        }
    }
    span {
        display: block;
        margin: {
            top: 12px;
            bottom: 12px;
        }
    }
}

.b-primary {
    border: solid $primary_color;
}

.b-secondary {
    border: solid $secondary_color;
}

.header-span {
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
}

@mixin resultados-mazos {
    display: none;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
    background-size: 100% 100%;
    img {
        width: 300px;
        margin: 20px;
    }
}

.resultados-div {
    background-image: url(../../images/resultadosdelsobre.png);
    @include resultados-mazos();
}

.mazo-div {
    background-image: url(../../images/ringdelmazo.PNG);
    @include resultados-mazos();
}

.mazo-repetido-div {
    background-image: url(../../images/ringdelmazorepetido.PNG);
    @include resultados-mazos();
}